.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.about-text {
    max-width: 80%;
    min-height: fit-content;
    text-align: left;
    line-height: 3rem; 
    padding: 3rem;
    border: 1px solid gray;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: background 0.1s ease;
}

.about-text.light {
    background: radial-gradient(circle at var(--x, 50%) var(--y, 50%), rgba(255, 255, 255, 0.2), transparent);
}

.about-text.dark {
    background: radial-gradient(circle at var(--x, 50%) var(--y, 50%), rgba(78, 125, 253, 0.473), transparent);
}

.about-tech {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 80%;
    padding: 3rem;
    border-radius: 10px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Light Theme with Blurred Border */
.about-tech.dark {
    background-color: #f8f9f8;
    color: #212529;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1); /* Soft glow effect */
    position: relative;
    border-radius: 10px;
    padding: 3rem;
}

.about-tech.light {
    background-color: #222831; /* Darker, more contrasting */
    color: #e6e6e6;
    box-shadow: 10px 5px 10px 10px rgba(27, 26, 34, 0.377);
}

.about-p {
    font-size: 1.5rem;
}

.tech-container {
    width: 20%;
    height: 40%;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 12px 10px 31px -18px rgba(0, 0, 0, 0.75);
    transition: transform 0.1s ease-out;
}

.tech-container.tilt {
    transform: rotate3d(var(--x-axis), var(--y-axis), 0, var(--angle));
}


.tech-container.dark {
    background-color: #ffffff;
    background: repeating-linear-gradient( 45deg, #f9f9f9, #f9f9f9 7px, #ffffff 7px, #ffffff 35px );
}

.tech-container.light {
    background-color: #31353f;
    background: repeating-linear-gradient( 45deg, #1b1f2a, #1b1f2a 7px, #31353f 7px, #31353f 35px );
}

.icon {
    max-width: 45px;
    height: auto;
}

.t-h.dark {
    color: #1b1f2a;
}

.tech-p {
    font-size: 1.5rem;
}